<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ie.mapper.ItemMapper" >
  <resultMap id="BaseResultMap" type="com.ie.pojo.Item" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="scNum" property="scnum" jdbcType="INTEGER" />
    <result column="gmNum" property="gmnum" jdbcType="INTEGER" />
    <result column="url1" property="url1" jdbcType="VARCHAR" />
    <result column="url2" property="url2" jdbcType="VARCHAR" />
    <result column="url3" property="url3" jdbcType="VARCHAR" />
    <result column="url4" property="url4" jdbcType="VARCHAR" />
    <result column="url5" property="url5" jdbcType="VARCHAR" />
    <result column="pam1" property="pam1" jdbcType="VARCHAR" />
    <result column="pam2" property="pam2" jdbcType="VARCHAR" />
    <result column="pam3" property="pam3" jdbcType="VARCHAR" />
    <result column="val3" property="val3" jdbcType="VARCHAR" />
    <result column="val2" property="val2" jdbcType="VARCHAR" />
    <result column="val1" property="val1" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="zk" property="zk" jdbcType="INTEGER" />
    <result column="category_id_one" property="categoryIdOne" jdbcType="INTEGER" />
    <result column="category_id_two" property="categoryIdTwo" jdbcType="INTEGER" />
    <result column="isDelete" property="isdelete" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.ie.pojo.Item" extends="BaseResultMap" >
    <result column="ms" property="ms" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, price, scNum, gmNum, url1, url2, url3, url4, url5, pam1, pam2, pam3, val3, 
    val2, val1, type, zk, category_id_one, category_id_two, isDelete
  </sql>
  <sql id="Blob_Column_List" >
    ms
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.ie.pojo.ItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ie.pojo.ItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ie.pojo.ItemExample" >
    delete from item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ie.pojo.Item" >
    insert into item (id, name, price, 
      scNum, gmNum, url1, 
      url2, url3, url4, url5, 
      pam1, pam2, pam3, val3, 
      val2, val1, type, zk, 
      category_id_one, category_id_two, isDelete, 
      ms)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, 
      #{scnum,jdbcType=INTEGER}, #{gmnum,jdbcType=INTEGER}, #{url1,jdbcType=VARCHAR}, 
      #{url2,jdbcType=VARCHAR}, #{url3,jdbcType=VARCHAR}, #{url4,jdbcType=VARCHAR}, #{url5,jdbcType=VARCHAR}, 
      #{pam1,jdbcType=VARCHAR}, #{pam2,jdbcType=VARCHAR}, #{pam3,jdbcType=VARCHAR}, #{val3,jdbcType=VARCHAR}, 
      #{val2,jdbcType=VARCHAR}, #{val1,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{zk,jdbcType=INTEGER}, 
      #{categoryIdOne,jdbcType=INTEGER}, #{categoryIdTwo,jdbcType=INTEGER}, #{isdelete,jdbcType=INTEGER}, 
      #{ms,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ie.pojo.Item" >
    insert into item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="scnum != null" >
        scNum,
      </if>
      <if test="gmnum != null" >
        gmNum,
      </if>
      <if test="url1 != null" >
        url1,
      </if>
      <if test="url2 != null" >
        url2,
      </if>
      <if test="url3 != null" >
        url3,
      </if>
      <if test="url4 != null" >
        url4,
      </if>
      <if test="url5 != null" >
        url5,
      </if>
      <if test="pam1 != null" >
        pam1,
      </if>
      <if test="pam2 != null" >
        pam2,
      </if>
      <if test="pam3 != null" >
        pam3,
      </if>
      <if test="val3 != null" >
        val3,
      </if>
      <if test="val2 != null" >
        val2,
      </if>
      <if test="val1 != null" >
        val1,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="zk != null" >
        zk,
      </if>
      <if test="categoryIdOne != null" >
        category_id_one,
      </if>
      <if test="categoryIdTwo != null" >
        category_id_two,
      </if>
      <if test="isdelete != null" >
        isDelete,
      </if>
      <if test="ms != null" >
        ms,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="scnum != null" >
        #{scnum,jdbcType=INTEGER},
      </if>
      <if test="gmnum != null" >
        #{gmnum,jdbcType=INTEGER},
      </if>
      <if test="url1 != null" >
        #{url1,jdbcType=VARCHAR},
      </if>
      <if test="url2 != null" >
        #{url2,jdbcType=VARCHAR},
      </if>
      <if test="url3 != null" >
        #{url3,jdbcType=VARCHAR},
      </if>
      <if test="url4 != null" >
        #{url4,jdbcType=VARCHAR},
      </if>
      <if test="url5 != null" >
        #{url5,jdbcType=VARCHAR},
      </if>
      <if test="pam1 != null" >
        #{pam1,jdbcType=VARCHAR},
      </if>
      <if test="pam2 != null" >
        #{pam2,jdbcType=VARCHAR},
      </if>
      <if test="pam3 != null" >
        #{pam3,jdbcType=VARCHAR},
      </if>
      <if test="val3 != null" >
        #{val3,jdbcType=VARCHAR},
      </if>
      <if test="val2 != null" >
        #{val2,jdbcType=VARCHAR},
      </if>
      <if test="val1 != null" >
        #{val1,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="zk != null" >
        #{zk,jdbcType=INTEGER},
      </if>
      <if test="categoryIdOne != null" >
        #{categoryIdOne,jdbcType=INTEGER},
      </if>
      <if test="categoryIdTwo != null" >
        #{categoryIdTwo,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="ms != null" >
        #{ms,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ie.pojo.ItemExample" resultType="java.lang.Integer" >
    select count(*) from item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update item
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=VARCHAR},
      </if>
      <if test="record.scnum != null" >
        scNum = #{record.scnum,jdbcType=INTEGER},
      </if>
      <if test="record.gmnum != null" >
        gmNum = #{record.gmnum,jdbcType=INTEGER},
      </if>
      <if test="record.url1 != null" >
        url1 = #{record.url1,jdbcType=VARCHAR},
      </if>
      <if test="record.url2 != null" >
        url2 = #{record.url2,jdbcType=VARCHAR},
      </if>
      <if test="record.url3 != null" >
        url3 = #{record.url3,jdbcType=VARCHAR},
      </if>
      <if test="record.url4 != null" >
        url4 = #{record.url4,jdbcType=VARCHAR},
      </if>
      <if test="record.url5 != null" >
        url5 = #{record.url5,jdbcType=VARCHAR},
      </if>
      <if test="record.pam1 != null" >
        pam1 = #{record.pam1,jdbcType=VARCHAR},
      </if>
      <if test="record.pam2 != null" >
        pam2 = #{record.pam2,jdbcType=VARCHAR},
      </if>
      <if test="record.pam3 != null" >
        pam3 = #{record.pam3,jdbcType=VARCHAR},
      </if>
      <if test="record.val3 != null" >
        val3 = #{record.val3,jdbcType=VARCHAR},
      </if>
      <if test="record.val2 != null" >
        val2 = #{record.val2,jdbcType=VARCHAR},
      </if>
      <if test="record.val1 != null" >
        val1 = #{record.val1,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.zk != null" >
        zk = #{record.zk,jdbcType=INTEGER},
      </if>
      <if test="record.categoryIdOne != null" >
        category_id_one = #{record.categoryIdOne,jdbcType=INTEGER},
      </if>
      <if test="record.categoryIdTwo != null" >
        category_id_two = #{record.categoryIdTwo,jdbcType=INTEGER},
      </if>
      <if test="record.isdelete != null" >
        isDelete = #{record.isdelete,jdbcType=INTEGER},
      </if>
      <if test="record.ms != null" >
        ms = #{record.ms,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update item
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=VARCHAR},
      scNum = #{record.scnum,jdbcType=INTEGER},
      gmNum = #{record.gmnum,jdbcType=INTEGER},
      url1 = #{record.url1,jdbcType=VARCHAR},
      url2 = #{record.url2,jdbcType=VARCHAR},
      url3 = #{record.url3,jdbcType=VARCHAR},
      url4 = #{record.url4,jdbcType=VARCHAR},
      url5 = #{record.url5,jdbcType=VARCHAR},
      pam1 = #{record.pam1,jdbcType=VARCHAR},
      pam2 = #{record.pam2,jdbcType=VARCHAR},
      pam3 = #{record.pam3,jdbcType=VARCHAR},
      val3 = #{record.val3,jdbcType=VARCHAR},
      val2 = #{record.val2,jdbcType=VARCHAR},
      val1 = #{record.val1,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      zk = #{record.zk,jdbcType=INTEGER},
      category_id_one = #{record.categoryIdOne,jdbcType=INTEGER},
      category_id_two = #{record.categoryIdTwo,jdbcType=INTEGER},
      isDelete = #{record.isdelete,jdbcType=INTEGER},
      ms = #{record.ms,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update item
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=VARCHAR},
      scNum = #{record.scnum,jdbcType=INTEGER},
      gmNum = #{record.gmnum,jdbcType=INTEGER},
      url1 = #{record.url1,jdbcType=VARCHAR},
      url2 = #{record.url2,jdbcType=VARCHAR},
      url3 = #{record.url3,jdbcType=VARCHAR},
      url4 = #{record.url4,jdbcType=VARCHAR},
      url5 = #{record.url5,jdbcType=VARCHAR},
      pam1 = #{record.pam1,jdbcType=VARCHAR},
      pam2 = #{record.pam2,jdbcType=VARCHAR},
      pam3 = #{record.pam3,jdbcType=VARCHAR},
      val3 = #{record.val3,jdbcType=VARCHAR},
      val2 = #{record.val2,jdbcType=VARCHAR},
      val1 = #{record.val1,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      zk = #{record.zk,jdbcType=INTEGER},
      category_id_one = #{record.categoryIdOne,jdbcType=INTEGER},
      category_id_two = #{record.categoryIdTwo,jdbcType=INTEGER},
      isDelete = #{record.isdelete,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ie.pojo.Item" >
    update item
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="scnum != null" >
        scNum = #{scnum,jdbcType=INTEGER},
      </if>
      <if test="gmnum != null" >
        gmNum = #{gmnum,jdbcType=INTEGER},
      </if>
      <if test="url1 != null" >
        url1 = #{url1,jdbcType=VARCHAR},
      </if>
      <if test="url2 != null" >
        url2 = #{url2,jdbcType=VARCHAR},
      </if>
      <if test="url3 != null" >
        url3 = #{url3,jdbcType=VARCHAR},
      </if>
      <if test="url4 != null" >
        url4 = #{url4,jdbcType=VARCHAR},
      </if>
      <if test="url5 != null" >
        url5 = #{url5,jdbcType=VARCHAR},
      </if>
      <if test="pam1 != null" >
        pam1 = #{pam1,jdbcType=VARCHAR},
      </if>
      <if test="pam2 != null" >
        pam2 = #{pam2,jdbcType=VARCHAR},
      </if>
      <if test="pam3 != null" >
        pam3 = #{pam3,jdbcType=VARCHAR},
      </if>
      <if test="val3 != null" >
        val3 = #{val3,jdbcType=VARCHAR},
      </if>
      <if test="val2 != null" >
        val2 = #{val2,jdbcType=VARCHAR},
      </if>
      <if test="val1 != null" >
        val1 = #{val1,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="zk != null" >
        zk = #{zk,jdbcType=INTEGER},
      </if>
      <if test="categoryIdOne != null" >
        category_id_one = #{categoryIdOne,jdbcType=INTEGER},
      </if>
      <if test="categoryIdTwo != null" >
        category_id_two = #{categoryIdTwo,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null" >
        isDelete = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="ms != null" >
        ms = #{ms,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ie.pojo.Item" >
    update item
    set name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      scNum = #{scnum,jdbcType=INTEGER},
      gmNum = #{gmnum,jdbcType=INTEGER},
      url1 = #{url1,jdbcType=VARCHAR},
      url2 = #{url2,jdbcType=VARCHAR},
      url3 = #{url3,jdbcType=VARCHAR},
      url4 = #{url4,jdbcType=VARCHAR},
      url5 = #{url5,jdbcType=VARCHAR},
      pam1 = #{pam1,jdbcType=VARCHAR},
      pam2 = #{pam2,jdbcType=VARCHAR},
      pam3 = #{pam3,jdbcType=VARCHAR},
      val3 = #{val3,jdbcType=VARCHAR},
      val2 = #{val2,jdbcType=VARCHAR},
      val1 = #{val1,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      zk = #{zk,jdbcType=INTEGER},
      category_id_one = #{categoryIdOne,jdbcType=INTEGER},
      category_id_two = #{categoryIdTwo,jdbcType=INTEGER},
      isDelete = #{isdelete,jdbcType=INTEGER},
      ms = #{ms,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ie.pojo.Item" >
    update item
    set name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      scNum = #{scnum,jdbcType=INTEGER},
      gmNum = #{gmnum,jdbcType=INTEGER},
      url1 = #{url1,jdbcType=VARCHAR},
      url2 = #{url2,jdbcType=VARCHAR},
      url3 = #{url3,jdbcType=VARCHAR},
      url4 = #{url4,jdbcType=VARCHAR},
      url5 = #{url5,jdbcType=VARCHAR},
      pam1 = #{pam1,jdbcType=VARCHAR},
      pam2 = #{pam2,jdbcType=VARCHAR},
      pam3 = #{pam3,jdbcType=VARCHAR},
      val3 = #{val3,jdbcType=VARCHAR},
      val2 = #{val2,jdbcType=VARCHAR},
      val1 = #{val1,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      zk = #{zk,jdbcType=INTEGER},
      category_id_one = #{categoryIdOne,jdbcType=INTEGER},
      category_id_two = #{categoryIdTwo,jdbcType=INTEGER},
      isDelete = #{isdelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>